* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: white;
  background: #2CBAE7;
}

header ul {
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

header li {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.6px;
  padding: 13px 0;
  width: 143px;
  text-align: center;
  border-right: 1px dotted white;
}

header li:first-of-type {
  border-left: 1px dotted white;
  margin-left: 70px;
}

.signin {
  float: right;
  border: none;
  width: 100px;
}

header li:nth-child(4) {
  margin-right: 50px;
}

header {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: white;
}

header img {
  height: 100px;
}

div.intro h1 {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 40px;
  padding-top: 44px;
  line-height: 48px;
  letter-spacing: 1.6px;
}

h2 {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 32px;
  padding-top: 44px;
  line-height: 48px;
  letter-spacing: 1.6px;
  margin-left: -70px;
}

section {
  margin: 60px 70px;
}

header #social {
  position: absolute;
  top: 263px;
  left: 920px;
}
header #social button {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  color: #2CBAE7;
  font-size: 14px;
  background: white;
  text-transform: uppercase;
  padding: 11px;
  border-radius: 6px;
  border: none;
  font-weight: 200;
  width: 280px;
  letter-spacing: 1.8px;
}

hr {
  border: 1px dotted white;
}

#quote {
  padding-top: 40px;
  border: none;
  border-bottom: 1px dotted white;
  width: 500px;
}

#social hr {
  padding: 14px 0;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px dotted white;
  width: 280px;
}

#quote-author {
  font-size: 14px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  padding-bottom: 50px;
}

i {
  padding: 16px 14px 16px 0;
}

.fa-angle-down {
  padding: 28px 0 100px 0;
}

.camera-img img {
  position: absolute;
  height: 300px;
  top: 740px;
  left: 700px;
}

.project {
  position: relative;
  padding: 50px 0 50px 0;
  margin-left: 0px;
}

.project h3 {
  position: absolute;
  font-size: 18px;
  text-transform: uppercase;
  top: 100px;
  left: 640px;
  line-height: 25px;
  letter-spacing: 1.4px;
}

.project p {
  position: absolute;
  font-size: 14px;
  top: 150px;
  left: 640px;
  padding: 20px 0;
  letter-spacing: 1px;
  line-height: 22px;
}

.project img {
  height: 840px;
}

.project button {
  position: absolute;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  color: #2CBAE7;
  font-size: 14px;
  background: white;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 6px;
  border: none;
  font-weight: 200;
  width: 200px;
  letter-spacing: 1.8px;
  left: 640px;
  top: 330px;
}

.project .fa-angle-down {
  position: absolute;
  top: 380px;
  left: 640px;
}
