body, div, header, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background: #282C34;
  color: #E06C75;
  margin: 40px;
}

header {
  box-sizing: border-box;
  position: relative;
  left: 5%;
  width: 40%;
  padding: 20px;
  height: 460px;
}

header h1 {
  color: #56B6C2;
}

a {
  color: #56B6C2;
  text-decoration: none;
}

header ul li {
  list-style: none;
  display: inline;
  color: #56B6C2;
}

section ul li {
  list-style: none;
  padding: 0 0 10px 60px;
  font-size: 18px;
  color: #98C379;
}

section h1 {
  color: #56B6C2;
  padding: 20px 0 0 50px;
}

section {
  width: 90%;
  margin: 0 auto;
}

h4 {
  display: inline;
}

p {
  color: #ABB2BF;
  padding: 0 60px 20px 60px;
  line-height: 28px;
  font-size: 18px;
}

footer {
  margin: 0 auto;
  height: 80px;
  width: 90%;
}

#contact {
  padding-bottom: 60px;
}

.border {
  border: 2px solid #56B6C2;
  box-sizing: border-box;
}

.learn-box {
  background: #E06C75;
  color: #282C34;
  width: 90%;
  margin: 20px auto;
  height: 100px;
  position: absolute;
}

.learn-box img {
  float: right;
  right: 40%;
  max-height: 95%;
}

.projects {
  width: 47.2%;
  height: 460px;
  position: absolute;
  top: 40px;
  left: 45%;
  padding: 20px;
}

.project-box {
  color: #282C34;
  width: 320px;
  margin: 15px;
  height: 60px;
}

.project-box img {
  display: inline-block;
  float: right;
  max-height: 95%;
}

.project-box.box1 {
  background: #E06C75;
}

.project-box.box2 {
  background: #98C379;
}

.project-box.box3 {
  background: #56B6C2;
}
