* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: grey;
}

.container {
  margin: 20px;
}

nav ul {
  border: 2px solid grey;
  text-align: center;
}

nav li {
  font-size: 35px;
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 8px 20px;
  display: inline-block;
  width: 150px;
}

h1 {
  font-size: 80px;
  line-height: 150px;
  text-align: center;
}

img {
  max-width: 100%;
}

.col-3 {
  margin-left: 2px;
  max-width: 30%;
  display: inline-block;
  position: absolute;

}

.grid-row {
  margin-top: 40px;
  position: relative;
}
